html {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #000000;
	cursor: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

adventure-kid-video-jockey {
	display: block;
	height: 100%;
	width: 100%;
}

canvas {
	aspect-ratio: 16 / 9;
	height: 100%;
	image-rendering: pixelated;
	margin: 0;
	object-fit: cover;
	object-position: center;
	padding: 0;
	width: 100%;
}
